
.picture{
    background-image: url('oneokrock.jpg');
    background-size: cover;
    z-index: -2;
}
header a{
    text-decoration:none;
    font-family: Verdana;
    color:#fff;
    text-align: center;
    font-size:50px;
}
.navi{
    text-align: center;
    position: relative;
    bottom:40px;
    right:50px;

}
.navi li {
    display: inline-block;
    word-spacing: 10%;
    margin: 20px;
}
.navi li a{
    text-decoration: none;
    color: #fff;
    
}
.picture .bg{
    position: relative;
    right:15px;
    z-index: 2;
    background-color:rgba(255,0,0,0.3);
    margin:10px auto;
    width: 400px;
    height: 300px;
    text-align: center;
   
   
}
.picture h2{
    color: red;
    text-align: center;
    position: relative;
    right:8px;
    bottom:20px;
    font-family: Verdana;
}
.picture .album{
    font-size: 25px;
    top:25px;
    right:70px;
    position: relative;
    color: #fff;
}
.picture .history{
    position: relative;
    color: #fff;
    text-align: left;
    font-size:15px;
    right:150px;
    top:15px;
}
.picture .intro{
    font-size: 25px;
    color: #fff;
    text-align: left;
    position: relative;
    top:50px;
    right:254px;
}

